####################################################
# Python
####################################################

__pycache__/
*.pyc
*.pyo
*.pyd

####################################################
# Virtual Environment
####################################################

venv/
.venv/
env/

####################################################
# Environment Variables
####################################################

.env

####################################################
# ChromaDB
####################################################

chroma_db/

####################################################
# Logs
####################################################

*.log

####################################################
# VS Code
####################################################

.vscode/

####################################################
# Next.js
####################################################

frontend/node_modules/
frontend/.next/
frontend/out/

####################################################
# macOS
####################################################

.DS_Store

####################################################
# Windows
####################################################

Thumbs.db